<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-8">
			<br /><%= image_tag "glitch.jpg", :class => "img-fluid text-center" %>
		</div>
	</div>
	<div class="row spacer"></div>
	<div class="row justify-content-center">
		<div class="col-sm-3 text-center">
			<a href="https://geo.itunes.apple.com/us/post/idsa.6f57ad01-3d90-11e5-a8db-8713f66a1023?mt=1&app=music" style="display:inline-block;overflow:hidden;background:url(//tools.applemusic.com/assets/shared/badges/en-us/music-lrg.svg) no-repeat;width:115px;height:40px;"></a>
		</div>
		<div class="col-sm-3 text-center">
			<iframe class="padtop8" src="https://embed.spotify.com/follow/1/?uri=spotify:artist:1vCWHaC5f2uS3yhpwWbIA6&size=basic&theme=dark" width="200" height="40" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
		</div>
		<div class="col-sm-3 text-center">
			<iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Flefthookmusic&color=orange_white&size=40" style="width: 40px; height: 40px;"></iframe>
		</div>
	</div>
	<div class="row spacer"></div>
	<div class="row justify-content-left">
		<div class="col">
			<p class="text-center lead">
			&copy;2017 New York Nausea, All Rights Reserved
			</p>
		</div>
	</div>
</div>
