<div class="container black-bg">
	<div class="row">
		&nbsp;
	</div>
	<div class="row">
		<div class="col-4">
			<%= image_tag "glitch.jpg", :class => "img-fluid" %>
		</div>
		<div class="col-8">
			<h5 class="display-4">
				<strong>Vol. 1</strong>
			</h5>
			<p class="lead">7 Tracks, 2017</p>
			<p class="lead">A collection of sounds borne of Upstate New York</p>
			<p class="lead">Download it!</p>
			<a class="btn btn-sm btn-primary" href="#" role="button">
					iTunes
			</a> 
			<a class="btn btn-sm btn-primary" href="#" role="button">
					Spotify
			</a> 			
			<a class="btn btn-sm btn-primary" href="#" role="button">
					Soundcloud
			</a> 

			<!--
			<div class="smaller">
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="HXGB9FJWBYV3A">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form>
			</div>
			!-->
		</div>
	</div>
</div>
	<div class="row">&nbsp;</div>
</div>

<div class="container">
	<iframe width="100%" height="600" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/162259756&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
</div>