<div class="container">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-8">
			<br /><%= image_tag "Final Portrait.jpg", :class => "img-fluid text-center" %>
		</div>
		<div class="row black-bg text-center justify-content-center">
	        <div class="col-12">
	          <br /><%= image_tag "Lefthook-Vol-1-Banner.gif", :class => "img-fluid" %>
	        </div>        
	    </div>
	    <div class="row spacer">&nbsp;
	    </div>
	</div>
</div>
