@import "bootstrap";
body{
	background-color: black;
}
.black-bg {
	background-color: black;
	color: white;
}
.red-bg{
	background-color: #ff5555;
}
.smaller{
	zoom: 80%;
	padding: 30px 0px 30px 0px;
}
.purple{
	color: #AA55FF;
}
.spacer{
	height: 50px;
}
.padtop8{
	padding-top: 8px;
}