<!DOCTYPE html>
<html>
  <head>
    <title>Lefthook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container header">
	  	<div class="row">
	  		<div class="col">
	  			<h1 class="display-1">LEFTHOOK</h1>
	  		</div>
	  	</div>
    <%= yield %>
  </body>
</html>
